header {
  background: #3b5998;
  padding: 15px;

  a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
  }

  .fas {
    color: #fff;
    font-size: 16px;
  }

  .logo-area {
    color: #fff;
    display: inline-block;
    width: 20%;
    margin-left: -4px;
    a {
      color: #fff;
      text-decoration: none;
      font-size: 20px;
    }
  }

  .menu,
  .menu ul li,
  .icon-links,
  .icon-links ul li,
  .quick-options,
  .privacy,
  .search-area,
  .search-area ul li {
    display: inline-block;
  }

  .menu {
    width: 20%;
    margin-left: -4px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    text-align: right;
    padding-right: 20px;
    a {
      margin-right: 20px;
    }
  }

  .icon-links {
    width: 20%;
    margin-left: -4px;

    .quick-options {
      margin-left: -4px;
      padding-left: 20px;
      padding-right: 20px;
      border-right: 1px solid rgba(255, 255, 255, 0.3);
    }

    ul {
      li {
        margin-left: 5px;
      }
    }

    .privacy {
      margin-left: -4px;
      padding-left: 20px;
    }
  }

  .search-area {
    width: 40%;
    margin-left: -4px;
    text-align: right;
  }
}
